<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://120.24.252.114:8096</string>
	<key>PhotoChannelURLPath</key>
	<string>/gallery/column.htm</string>
	<key>PhotoChannelProgramURLPath</key>
	<string>/gallery/program.htm</string>
	<key>PhotoUrlListURLPath</key>
	<string>/gallery/programUrl.htm</string>
	<key>VideoURLPath</key>
	<string>/gallery/hotVideo.htm</string>
	<key>SystemConfigURLPath</key>
	<string>/gallery/systemConfig.htm</string>
	<key>RegisterURLPath</key>
	<string>/gallery/activat.htm</string>
	<key>UserAccessURLPath</key>
	<string>/gallery/userAccess.htm</string>
	<key>AlipayConfigURLPath</key>
	<string>/gallery/aliConfig.htm</string>
	<key>WeChatPayConfigURLPath</key>
	<string>/gallery/weixinConfig.htm</string>
	<key>AgreementURLPath</key>
	<string>/gallery/agreement.html</string>
	<key>ChannelNo</key>
	<string>QB_ATLAS_TEST_T0000001</string>
	<key>SystemConfigPayAmount</key>
	<string>PAY_AMOUNT</string>
	<key>SystemConfigSpreadTopImage</key>
	<string>SPREAD_TOP_IMG</string>
	<key>PayNowScheme</key>
	<string>comphotolibraryapppaynowurlscheme</string>
	<key>BaiduAdAppId</key>
	<string>a39921a8</string>
	<key>BaiduBannerAdId</key>
	<string>2340965</string>
	<key>BaiduLaunchAdId</key>
	<string>2347258</string>
	<key>UmengAppId</key>
	<string>565bc5bee0f55a13a60011b1</string>
	<key>UmengTriggerPaymentEventId</key>
	<string>KB_TRIGGER_PAYMENT</string>
	<key>UmengSuccessfulPaymentEventId</key>
	<string>KB_SUCCESSFUL_PAYMENT</string>
	<key>UmengFailedPaymentEventId</key>
	<string>KB_FAILED_PAYMENT</string>
	<key>UmengCancelledPaymentEventId</key>
	<string>KB_CANCELLED_PAYMENT</string>
</dict>
</plist>
