<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://120.24.252.114:8093</string>
	<key>PhotoChannelURLPath</key>
	<string>/video/channelRanking.htm</string>
	<key>BannerURLPath</key>
	<string>/video/banner.htm</string>
	<key>HomeProgramURLPath</key>
	<string>/video/homePage.htm</string>
	<key>ChannelProgramURLPath</key>
	<string>/video/program.htm</string>
	<key>ChannelNo</key>
	<string>QB_ATLAS_TEST_T0000001</string>
	<key>MoreURLPath</key>
	<string>/video/agreement.html</string>
	<key>RegisterURLPath</key>
	<string>/video/jihuo.htm</string>
	<key>SystemConfigURLPath</key>
	<string>/video/systemConfig.htm</string>
	<key>AlipayConfigURLPath</key>
	<string>/video/aliConfig.htm</string>
	<key>WeChatPayConfigURLPath</key>
	<string>/video/weixinConfig.htm</string>
	<key>UserAccessURLPath</key>
	<string>/video/userAccess.htm</string>
	<key>AlipayPID</key>
	<string>2088121199723733</string>
	<key>AlipaySellerID</key>
	<string>15268581270@139.com</string>
	<key>AlipayScheme</key>
	<string>comphotolibraryalipayappscheme</string>
	<key>AlipayPrivateKey</key>
	<string>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAKJQys69sVJpNmbdNNCph/KeDBiOR2TowZGthn8l+65a0E5n6NxsJzbnD7sCrh2rwUGtxRlC5x16x1H6Cz3P1txzCDsR+pMkxDxNyt0WoV2zmbCXR1XIoJiEglrdK/Hm24EsTuxRGKfj74SA+O2gAozE05QRe6yRjnJi4WEWKW7VAgMBAAECgYB3bTKLgw7hMACTFtcxYEtiu97ygl0NZiRmZ2K6UtwnoTH7PoEbDYic4M22L3ak5ia/iHeo6ozaJ+hX7L4wsKfJR+8UG4Jt4bK/o1qHxwmCZOPItRQk8G6hb3M/XmPIctxhL3a80PGsHD+IEz/gkTjtGCj7S6pzmq5qbA7XEi4qUQJBAM2Wh/6fHj/wxd/8OkkPN3/Fy0QdxX7u7m9VOYkUTug1h4/nNdP1qIaAdId5wk8LH2VQB1cVSY4le/Hve7A15YMCQQDKHebrkZnddCtphvgUFr09zA0d1ZCEtgzh/nBBBuM9prJi4JDBDrYnfw0oHCr97QJhXyIDhwfHBnxHUM3tUwLHAkEAil883UWfiI23wQ/08uOJCTjJnOkk2lBarxh/hyHiEiylN1f5RNZdPVoMFHsBK05jLT92EUjEnyXfjHERoQJFnQJAMTVeh3QHlhc2ipbFx35RzL3lY6IfcXAxasRb6DkZEmWHgPNTyu0eBDe2qFFTVkdiEPrseRdjGV3G3EYcHO/c+QJBAJS2kHuwVDK4qgT9Ks0AkgUGcAogl9kDuhwTYGr3ElgXJlx944tsz2cCn8K5H4EAKQ120f65dNWG59fPlvk0O0c=</string>
	<key>AlipayNotifyURL</key>
	<string>http://phas.ihuiyx.com/pd-has/notifyByAlipay.json</string>
	<key>WeChatPayAppId</key>
	<string>wx4af04eb5b3dbfb56</string>
	<key>WeChatPayMchId</key>
	<string>1281148901</string>
	<key>WeChatPayPrivateKey</key>
	<string>hangzhouquba20151112qwertyuiopas</string>
	<key>WeChatPayNotifyURL</key>
	<string>http://phas.ihuiyx.com/pd-has/notifyWx.json</string>
	<key>SystemConfigPayAmount</key>
	<string>PAY_AMOUNT</string>
	<key>SystemConfigChannelTopImage</key>
	<string>CHANNEL_TOP_IMG</string>
	<key>BaiduAdAppId</key>
	<string>a39921a8</string>
	<key>BaiduBannerAdId</key>
	<string>2340965</string>
	<key>BaiduLaunchAdId</key>
	<string>2347258</string>
	<key>UmengAppId</key>
	<string>565bc5bee0f55a13a60011b1</string>
	<key>UmengTriggerPaymentEventId</key>
	<string>KB_TRIGGER_PAYMENT</string>
	<key>UmengSuccessfulPaymentEventId</key>
	<string>KB_SUCCESSFUL_PAYMENT</string>
	<key>UmengFailedPaymentEventId</key>
	<string>KB_FAILED_PAYMENT</string>
	<key>UmengCancelledPaymentEventId</key>
	<string>KB_CANCELLED_PAYMENT</string>
</dict>
</plist>
